<h2 class="text-xl">Fast Ball</h2>
<p>The code is supposed to check if the Pokémon is in one of the first 3 tables for fleeing Pokémon. Instead, it checks if it is in the first <i>three</i> of the <i>first</i> table.</p>
<h2 class="text-xl">Moon Ball</h2>
<p>The code examines whether the Pokémon evolves using a moon stone. However, there is a peculiar oversight in the code where a constant from Pokémon Red was mistakenly reused. This resulted in an incorrect check for a Pokémon's evolution using burn heal instead of a moon stone.</p>
<h2 class="text-xl">Love Ball</h2>
<p>The code correctly checks if the Pokémon belongs to the same species as yours. However, it mistakenly verifies if the Pokémon shares the same gender as yours (love wins?)</p>
<h2 class="text-xl">Heavy Ball</h2>
<p>An error was found in the weight check for three Pokémon exclusive to Pokémon Crystal. These Pokémon have weights evenly divisible by 64, and the code incorrectly assumed their weight to be 5000. As a result, the catch rate received an inflated boost of 40.</p>
<h2 class="text-xl">Calculation Overview</h2>
<p>
	The overall calculation can be summarized as follows:
	<math class="block" xmlns="http://www.w3.org/1998/Math/MathML">
		<mrow>
			<mi>X</mi>
			<mo>=</mo>
			<mi>max</mi>
			<mrow>
				<mo fence="true" form="prefix">(</mo>
				<mfrac>
					<mrow>
						<mrow>
							<mo fence="true" form="prefix">(</mo>
							<mn>3</mn>
							<mi>M</mi>
							<mo>-</mo>
							<mn>2</mn>
							<mi>H</mi>
							<mo fence="true" form="postfix">)</mo>
						</mrow>
						<mo>⋅</mo>
						<mi>C</mi>
					</mrow>
					<mrow>
						<mn>3</mn>
						<mi>M</mi>
					</mrow>
				</mfrac>
				<mo separator="true">,</mo>
				<mn>1</mn>
				<mo fence="true" form="postfix">)</mo>
			</mrow>
			<mo>+</mo>
			<mi>S</mi>
		</mrow>
	</math>
	<em>Unless</em> you are using a level ball. In that case, it's just
	<math class="block" xmlns="http://www.w3.org/1998/Math/MathML">
		<mrow>
			<mi>X</mi>
			<mo>=</mo>
			<mi>C</mi>
		</mrow>
	</math>
</p>
<h3 class="text-lg">X (Overall Chance)</h3>
<p>X is the chance of capturing the Pokémon. After it is generated, the game will then generate a random number between 0 and 255. If it is less than or equal to X, the Pokémon is caught.</p>
<h3 class="text-lg">C (Modified Capture Rate)</h3>
<p>C is the modified capture rate. Every Pokemon has a base capture rate, which is the base chance of catching it. This is then modified by ball you use, some multiplying the base capture rate, others adding a flat bonus.</p>
<h3 class="text-lg">M (Max HP) and C (Current HP)</h3>
<p>M is the Pokémon's maximum HP, and C is its current HP. Simple enough. That being said, if you are playing with the calculator or playing a modified version of the game, there are some odd effects that can happen with higher than intended HP values. For example, if the max HP is exactly 342 or</p>