<h2 class="text-xl">Calculation Overview</h2>
<math xmlns="http://www.w3.org/1998/Math/MathML">
	<mrow>
		<mi>X</mi>
		<mo>=</mo>
		<mi>max</mi>
		<mrow>
			<mo fence="true" form="prefix">(</mo>
			<mfrac>
				<mrow>
					<mrow>
						<mo fence="true" form="prefix">(</mo>
						<mn>3</mn>
						<mi>M</mi>
						<mo>-</mo>
						<mn>2</mn>
						<mi>H</mi>
						<mo fence="true" form="postfix">)</mo>
					</mrow>
					<mo>⋅</mo>
					<mi>C</mi>
				</mrow>
				<mrow>
					<mn>3</mn>
					<mi>M</mi>
				</mrow>
			</mfrac>
			<mo separator="true">,</mo>
			<mn>1</mn>
			<mo fence="true" form="postfix">)</mo>
		</mrow>
		<mo>+</mo>
		<mi>S</mi>
	</mrow>
</math>