<h2 class="text-xl">Calculation Overview</h2>
<math class="block" xmlns="http://www.w3.org/1998/Math/MathML">
	<mi>X</mi>
	<mo>=</mo>
	<mi>down</mi>
	<mrow>
		<mo fence="true" form="prefix">(</mo>
		<mi>round</mi>
		<mrow>
			<mo fence="true" form="prefix">(</mo>
			<mi>down</mi>
			<mrow>
				<mo fence="true" form="prefix">(</mo>
				<mfrac>
					<mrow>
						<mi>round</mi>
						<mrow>
							<mo fence="true" form="prefix">(</mo>
							<mi>round</mi>
							<mrow>
								<mo fence="true" form="prefix">(</mo>
								<mrow>
									<mo fence="true" form="prefix">(</mo>
									<mn>3</mn>
									<mi>M</mi>
									<mo>-</mo>
									<mn>2</mn>
									<mi>H</mi>
									<mo fence="true" form="postfix">)</mo>
								</mrow>
								<mo>⋅</mo>
								<mi>G</mi>
								<mo fence="true" form="postfix">)</mo>
							</mrow>
							<mo>⋅</mo>
							<mi>C</mi>
							<mo>⋅</mo>
							<mi>B</mi>
							<mo fence="true" form="postfix">)</mo>
						</mrow>
					</mrow>
					<mrow>
						<mn>3</mn>
						<mi>M</mi>
					</mrow>
				</mfrac>
				<mo fence="true" form="postfix">)</mo>
			</mrow>
			<mo>⋅</mo>
			<mi>S</mi>
			<mo fence="true" form="postfix">)</mo>
		</mrow>
		<mo>⋅</mo>
		<mfrac>
			<mi>E</mi>
			<mn>100</mn>
		</mfrac>
		<mo fence="true" form="postfix">)</mo>
	</mrow>
</math>