<script lang="ts">
	import { page } from '$app/stores'
	import Navbar from '$lib/components/Navbar.svelte'
	import Footer from '$lib/components/Footer.svelte'
	import { onMount } from 'svelte'
	onMount(() => {
		window.umami?.track($page.status.toString(), { path: document.location.pathname })
	})
</script>
<div class="flex flex-col justify-between h-screen">
	<Navbar />
	<section class="flex-1 flex items-center text-center justify-center py-24">
		<div>
			<div class="text-9xl">
				{$page.status}
			</div>
			<div class="text-3xl">
				{$page.error?.message}
			</div>
			<a class="text-6xl outline-none pb-1 text-transparent bg-gradient-to-r from-red-500 to-highlight bg-[length:0_0.35rem] hover:bg-[length:100%_0.35rem] focus:bg-[length:100%_0.35rem] hover:dark:text-light hover:text-dark focus:dark:text-light focus:text-dark bg-[0_100%] bg-no-repeat transition-all ease-linear" href="/"><span class="bg-gradient-to-br from-red-500 to-highlight bg-clip-text">Go back</span></a>
		</div>
	</section>
	<Footer />
</div>
<svelte:options immutable={true} />