<script lang="ts">
	import "../app.css"
	import image from '$lib/thumbnails/index.png'
	import { page } from '$app/stores'
	import icon from '$lib/assets/icon.svg'
	import manifest from '$lib/assets/manifest.webmanifest?url'
</script>
<slot />
<svelte:head>
	<link href="https://joshuastock.net{$page.route.id}" rel="canonical" />
	<link href="{icon}" rel="icon" type="image/svg+xml" />
	<link href="{manifest}" rel="manifest" />
	<title>{$page.data.title ?? `${$page.status} Error`}</title>
	<meta content="{$page.data.description ?? $page.error?.message ?? ''}" name="description">
	<meta content="{$page.data.title ?? `${$page.status} Error`}" property="og:title">
	<meta content="{$page.data.description ?? $page.error?.message ?? ''}" property="og:description">
	<meta content="website" name="og:type">
	<meta content="https://joshuastock.net{$page.data.image ?? image}" property="og:image">
	<meta content="https://joshuastock.net{$page.route.id}" name="og:url">
	<meta property="twitter:card" content="summary_large_image">
</svelte:head>
<svelte:options immutable={true} />