@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Brandon Grotesque";
		src: url(/src/lib/fonts/Brandon-Grotesque-Web-Thin.woff2) format('woff2');
		font-weight: 100;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: "Brandon Grotesque";
		src: url(/src/lib/fonts/Brandon-Grotesque-Web-Thin-Italic.woff2) format('woff2');
		font-weight: 100;
		font-style: italic;
		font-display: swap;
	}
	@font-face {
		font-family: "Brandon Grotesque";
		src: url(/src/lib/fonts/Brandon-Grotesque-Web-Light.woff2) format('woff2');
		font-weight: 300;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: "Brandon Grotesque";
		src: url(/src/lib/fonts/Brandon-Grotesque-Web-Light-Italic.woff2) format('woff2');
		font-weight: 300;
		font-style: italic;
		font-display: swap;
	}
	@font-face {
		font-family: "Brandon Grotesque";
		src: url(/src/lib/fonts/Brandon-Grotesque-Web-Regular.woff2) format('woff2');
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: "Brandon Grotesque";
		src: url(/src/lib/fonts/Brandon-Grotesque-Web-Regular-Italic.woff2) format('woff2');
		font-weight: 400;
		font-style: italic;
		font-display: swap;
	}
	@font-face {
		font-family: "Brandon Grotesque";
		src: url(/src/lib/fonts/Brandon-Grotesque-Web-Medium.woff2) format('woff2');
		font-weight: 500;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: "Brandon Grotesque";
		src: url(/src/lib/fonts/Brandon-Grotesque-Web-Medium-Italic.woff2) format('woff2');
		font-weight: 500;
		font-style: italic;
		font-display: swap;
	}
	@font-face {
		font-family: "Brandon Grotesque";
		src: url(/src/lib/fonts/Brandon-Grotesque-Web-Bold.woff2) format('woff2');
		font-weight: 700;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: "Brandon Grotesque";
		src: url(/src/lib/fonts/Brandon-Grotesque-Web-Bold-Italic.woff2) format('woff2');
		font-weight: 700;
		font-style: italic;
		font-display: swap;
	}
	@font-face {
		font-family: "Brandon Grotesque";
		src: url(/src/lib/fonts/Brandon-Grotesque-Web-Black.woff2) format('woff2');
		font-weight: 900;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: "Brandon Grotesque";
		src: url(/src/lib/fonts/Brandon-Grotesque-Web-Black-Italic.woff2) format('woff2');
		font-weight: 900;
		font-style: italic;
		font-display: swap;
	}
}

@layer components {
	input {
		@apply tracking-wide;
	}
	p, li ul li {
		@apply tracking-normal;
	}
}