<script lang="ts">
	export let type: 'button' | 'submit' | 'reset' = 'button'
	export let id: string | undefined = undefined
	let className = ''
	export { className as class }
</script>
{#if id}
	<button on:click type={type} id={id} class="tracking-wide {className}">
		<slot />
	</button>
{:else}
	<button on:click type={type} class="tracking-wide {className}">
		<slot />
	</button>
{/if}