<script lang="ts">
	import Button from './Button.svelte'
    export let name: string = ""
    export let sprite: string = ""
    export let num: number = 0
    export let backgroundColor = "bg-gray-500"
</script>
<Button type="button" on:click class="hover:scale-125 hover:shadow-2xl transition-all ease-linear w-fit mt-6 rounded-2xl py-4 bg-gradient-to-br {backgroundColor} flex items-center flex-col justify-around text-xl font-bold text-light">
	<div class="px-2 drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]">{num.toString().padStart(3, '0')}</div>
	<img class="px-2" loading="lazy" width=475px height=475px src="{sprite}" alt="Sprite" />
	<div class="px-2 drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]">{name}</div>
</Button>
<svelte:options immutable={true} />