<script lang="ts">
	export let name = ''
	export let id: string | undefined = undefined
	export let checked = false
</script>
<div class="my-4 px-2">
	<input id="{id ?? name.toLowerCase()}" type="checkbox" class="appearance-none bg-transparent checked:bg-average transition-colors ease-linear size-4 border-2 checked:border-transparent dark:border-gray-700 border-gray-300 inline-block align-middle rounded checked:bg-[url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiNmZmYiIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHBhdGggZD0iTTEyLjIwNyA0Ljc5M2ExIDEgMCAwIDEgMCAxLjQxNGwtNSA1YTEgMSAwIDAgMS0xLjQxNCAwbC0yLTJhMSAxIDAgMCAxIDEuNDE0LTEuNDE0TDYuNSA5LjA4Nmw0LjI5My00LjI5M2ExIDEgMCAwIDEgMS40MTQgMHoiLz48L3N2Zz4=)]" bind:checked={checked}>
	<label for="{id ?? name.toLowerCase()}" class="ml-2 text-sm text-gray-900 dark:text-gray-300">{name}</label>
</div>
