<script lang="ts">
	export let label = ''
	export let id = ''
	export let dialog
</script>
<dialog aria-label="{label}" bind:this={dialog} id="{id}" class="group pointer-events-none open:pointer-events-auto opacity-0 invisible open:visible open:opacity-100 flex flex-col md:flex-row transition-[opacity,backdrop-filter,visibility] fixed inset-0 backdrop:[transition:backdrop-filter_.5s_ease] backdrop-blur-sm bg-transparent bg-gradient-to-br from-[rgba(0,0,0,0.2)] to-[rgba(0,0,0,0.1)] h-full w-full z-40 max-h-none max-w-none">
	<div class="h-full w-full">
		<div class="motion-safe:animate-closeModal motion-safe:group-open:animate-openModal my-20 z-50 w-full rounded-3xl shadow [--tw-shadow:0.3px_0.5px_0.7px_#0000001a,1.5px_2.9px_3.7px_-0.4px_#0000001a,2.7px_5.4px_6.8px_-0.7px_#0000001a,4.5px_8.9px_11.2px_-1.1px_#0000001a,7.1px_14.3px_18px_-1.4px_#0000001a,11.2px_22.3px_28.1px_-1.8px_#0000001a,17px_33.9px_42.7px_-2.1px_#0000001a,25px_50px_62.9px_-2.5px_#0000001a] [--tw-shadow-colored:0.3px_0.5px_0.7px_var(--tw-shadow-color),1.5px_2.9px_3.7px_-0.4px_var(--tw-shadow-color),2.7px_5.4px_6.8px_-0.7px_var(--tw-shadow-color),4.5px_8.9px_11.2px_-1.1px_var(--tw-shadow-color),7.1px_14.3px_18px_-1.4px_var(--tw-shadow-color),11.2px_22.3px_28.1px_-1.8px_var(--tw-shadow-color),17px_33.9px_42.7px_-2.1px_var(--tw-shadow-color),25px_50px_62.9px_-2.5px_var(--tw-shadow-color)] relative m-auto flex flex-row max-w-[70rem] md:h-[calc(100vh-16.5rem)] h-[calc(100vh-18.5rem)]">
			<form method="dialog">
				<button type="submit" aria-label="close" class="text-neutral-500 dark:text-neutral-300 z-50 absolute right-10 top-9 p-1 -m-1 opacity-50 hover:opacity-100 focus:opacity-100 ring-0 transition-opacity ease-linear">
					<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="size-6 fill-none stroke-current stroke-[1.5]" viewBox="0 0 24 24">
						<path d="M6 18 18 6M6 6l12 12"/>
					</svg>
				</button>
			</form>
			<div class="h-full w-full flex flex-col md:flex-row text-dark dark:text-light">
				<slot />
			</div>
		</div>
	</div>
	<form class="fixed inset-0 text-transparent" method="dialog">
		<button class="h-full w-full cursor-default" type="submit">Close</button>
	</form>
</dialog>