<script lang="ts">
	import type { Action } from 'svelte/action'
	export let date = ''
	export let company = ''
	export let position = ''
	export let description: string[] = []
	const inView: Action = (node) => {
		node.setAttribute('data-view', 'false')
		let observer: IntersectionObserver
		observer = new IntersectionObserver((e) => {
			if (!e[0].isIntersecting) return
			node.setAttribute('data-view', 'true')
			observer.unobserve(node)
		}, { threshold: 0.3 })
		observer.observe(node)
		return {
			destroy() {
				observer.disconnect()
			}
		}
	}
</script>
<li use:inView class="motion-safe:data-[view=true]:animate-[slide-left_.3s_ease-in-out_both] motion-safe:data-[view=false]:opacity-0 opacity-100 mb-10 ml-4">
	<div class="absolute w-3 h-3 rounded-full mt-1.5 -left-[1.425rem] bg-gradient-to-br from-red-500 to-highlight" />
	<time class="text-sm">{date}</time>
	<h3 class="bg-gradient-to-br from-red-500 to-highlight bg-clip-text text-transparent text-2xl font-bold whitespace-pre-wrap">{position}</h3>
	<h4 class="bg-gradient-to-br from-red-500 to-highlight bg-clip-text text-transparent text-xl font-bold">{company}</h4>
	<ul class="mb-4 max-w-md list-disc ml-4 text-gray-500 dark:text-gray-400">
		{#each description as description}
			<li>{description}</li>
		{/each}
		<slot />
	</ul>
</li>
<svelte:options immutable={true} />