<script lang="ts">
	import { page } from '$app/stores'
	export let href: string = ''
	export let gradient: boolean = false
	const outbound = $page.url.host !== new URL(href, $page.url.origin).host
	const event = outbound ? 'Outbound Link: Click' : null
</script>
{#if gradient}
	<a class="outline-none text-transparent no-underline bg-gradient-to-r from-red-500 to-highlight hover:dark:text-light hover:text-dark bg-[right_95%] bg-no-repeat transition-[background-size,_color] ease-[ease] duration-200 bg-[length:0_.2rem] hover:bg-[length:100%_.2rem] hover:bg-[left_95%]" {href} data-umami-event="{event}" data-umami-event-url="{outbound ? href : null}"><span class="bg-gradient-to-br from-red-500 to-highlight bg-clip-text"><slot /></span></a>
{:else}
	<a on:click class="menu-btn md:text-lg text-4xl md:ml-6 outline-none no-underline bg-gradient-to-r from-red-500 to-highlight bg-[right_95%] bg-no-repeat transition-[background-size,_color] ease-[ease] duration-200 bg-[length:0_.125rem] hover:bg-[length:100%_.125rem] hover:bg-[left_95%]" {href} data-umami-event="{event}" data-umami-event-url="{outbound ? href : null}"><slot /></a>
{/if}