<script lang="ts">
	import { goto } from '$app/navigation'
	import { page } from '$app/stores'
	import { browser } from '$app/environment'
	import Link from '$lib/components/Link.svelte'
	let scrollTop: number = 0
	let clientHeight: number
	let scrollHeight = browser ? document.documentElement.scrollHeight : 0
	let open = false
	function openSidebar() {
		open = !open
	}
	function navigateTo(e: Event, id: string) {
		e.preventDefault()
		openSidebar()
		if ($page.route.id === '/') {
			(document.getElementById(id) as HTMLElement).scrollIntoView({behavior: "smooth"});
			(e.target as HTMLAnchorElement).blur()
		}
		else
			goto('/').then(() => (document.getElementById(id) as HTMLElement).scrollIntoView({behavior: "smooth"}))
	}
</script>
<nav data-scrolled={scrollTop > 20} data-open={open} class="fixed top-0 w-full py-8 bg-clip-padding dark:bg-dark bg-light supports-[backdrop-filter]:before:backdrop-blur-xl supports-[backdrop-filter]:before:-z-10 supports-[backdrop-filter]:before:inset-0 supports-[backdrop-filter]:before:absolute z-20 group/navbar data-[scrolled=true]:shadow-lg data-[scrolled=true]:supports-[backdrop-filter]:!bg-opacity-60">
	<input id="scrollBar" aria-label="Scrollbar" bind:value={scrollTop} class="fixed top-0 h-2 appearance-none bg-transparent [&::-moz-range-progress]:bg-gradient-to-r [&::-moz-range-progress]:from-red-500 [&::-moz-range-progress]:to-highlight [&::-moz-range-progress]:h-2 [&::-moz-range-thumb]:border-transparent [&::-moz-range-thumb]:bg-transparent [&::-webkit-slider-thumb]:appearance-none [&::-webkit-slider-thumb]:h-2 [&::-webkit-slider-thumb]:w-[0.1px] [&::-webkit-slider-thumb]:shadow-[-100vmax_0_0_100vmax] [&::-webkit-slider-thumb]:shadow-average [&::-webkit-slider-thumb]:[clip-path:polygon(100%_0,-100vmax_0,-100vmax_100%,100%_100%)] w-full" type="range" min="0" max="{scrollHeight - clientHeight}">
	<div class="flex justify-between items-center px-6 sm:px-12 md:px-20 m-auto max-w-7xl">
		<div class="text-4xl font-bold cursor-pointer" id="logo">
			<a class="focus:outline-none group bg-gradient-to-br from-red-500 to-highlight bg-clip-text" on:click={(e) => navigateTo(e, 'home')} href="/">
				<span class="dark:text-light text-dark group-hover:text-transparent group-focus:text-transparent transition-colors ease-linear">Josh</span>
				<span class="text-transparent dark:group-hover:text-light dark:group-focus:text-light group-hover:text-dark group-focus:text-dark dark:group-data-[scrolled=true]/navbar:text-light group-data-[scrolled=true]/navbar:text-dark group-data-[scrolled=true]/navbar:group-hover:text-transparent group-data-[scrolled=true]/navbar:group-focus:text-transparent transition-colors ease-linear">Stock</span>
			</a>
		</div>
		<ul data-open={open} class="leading-9 menu md:relative fixed h-screen md:h-auto w-full md:w-auto md:top-auto top-0 md:text-left md:left-0 data-[open=true]:left-0 -left-full text-center md:py-0 py-20 transition-all ease-linear md:transition-none supports-[backdrop-filter]:before:backdrop-blur-xl md:supports-[backdrop-filter]:before:backdrop-blur-0 supports-[backdrop-filter]:before:-z-10 supports-[backdrop-filter]:before:inset-0 supports-[backdrop-filter]:before:absolute supports-[backdrop-filter]:!bg-opacity-60 md:flex-none flex md:flex-row flex-col justify-around bg-light dark:bg-dark md:!bg-transparent">
			{#each ['Home', 'About', 'Experience', 'Projects', 'Contact'] as page}
				<li class="list-none md:inline-block block">
					<Link on:click={(e) => navigateTo(e, page.toLowerCase())} href={`/#${page.toLowerCase()}`}>{page}</Link>
				</li>
			{/each}
			<li class="list-none md:inline-block block">
				<Link on:click={openSidebar} href="https://blog.joshuastock.net">Blog</Link>
			</li>
		</ul>
		<button data-open={open} on:click={openSidebar} class="md:hidden block z-10 group" aria-label="Hamburger button">
			<div class="group-data-[open=true]:rotate-45 group-data-[open=true]:translate-y-2 w-7 h-1 mb-1 rounded-lg transition-all ease-out dark:bg-light bg-dark" />
			<div class="group-data-[open=true]:opacity-0 w-7 h-1 mb-1 rounded-lg transition-all ease-out dark:bg-light bg-dark" />
			<div class="group-data-[open=true]:-rotate-45 group-data-[open=true]:-translate-y-2 w-7 h-1 mb-1 rounded-lg transition-all ease-out dark:bg-light bg-dark" />
		</button>
	</div>
</nav>
<svelte:window bind:scrollY={scrollTop} bind:innerHeight={clientHeight} />
<svelte:options immutable={true} />