<script lang="ts">
	export let id = ''
	let forValue = ''
	export { forValue as for}
	export let value = ''
	export let group = ''
	export let name = ''
</script>
<div class="flex items-center mr-4">
	<input id="{id}" type="radio" value="{value}" class="size-3 appearance-none transition duration-300 rounded-full bg-average bg-opacity-0 checked:bg-opacity-100 shadow-[0_0_0_1.8px_theme(colors.light)_inset,0_0_0_1.5px_theme(colors.average)] dark:shadow-[0_0_0_1.8px_theme(colors.dark)_inset,0_0_0_1.5px_theme(colors.average)]" bind:group={group} name="{name}">
	<label for="{forValue}" class="ml-2 text-sm text-gray-900 dark:text-gray-300">{value}</label>
</div>
