<script lang="ts">
	let scrollTop: number
</script>
<button data-scrolled={scrollTop > 500} type="button" on:click={() => window.scrollTo({ top: 0, behavior: 'smooth' })} aria-label="Scroll up button" class="tracking-wide italic fixed h-11 w-10 right-8 bottom-2 flex items-center justify-center z-20 text-3xl bg-gradient-to-br from-red-500 to-highlight hover:bg-black/20 bg-blend-darken pointer-events-none rounded-md opacity-0 transition-all ease-linear outline-none data-[scrolled=true]:bottom-8 data-[scrolled=true]:opacity-100 data-[scrolled=true]:pointer-events-auto">
	<svg xmlns="http://www.w3.org/2000/svg" aria-label="Scroll up button" class="fill-light h-9 w-5" role="img" viewBox="0 0 448 512">
		<!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc.-->
		<path d="M201.4 137.4c12.5-12.5 32.8-12.5 45.3 0l160 160c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L224 205.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l160-160z"/>
	</svg>
</button>
<svelte:window bind:scrollY={scrollTop} />
<svelte:options immutable={true} />