<script lang="ts">
    export let title = ''
    export let description = ''
	let className = ''
	export { className as class }
</script>
<section class="min-h-screen last-of-type:min-h-[calc(100vh-3rem)] flex py-24 {className}" id="{title.split(' ')[0].toLowerCase()}">
	<div class="px-6 sm:px-12 md:px-20 max-w-7xl w-full m-auto">
		<div class="mb-14 pt-6">
			<h2 class="text-4xl text-center font-bold">{title}</h2>
			<div class="inline-flex items-center justify-center w-full">
				<hr class="w-44 h-1 my-8 border-0 bg-gradient-to-br from-red-500 to-highlight rounded">
				<span class="absolute p-1 mb-1 text-lg bg-light dark:bg-dark text-center">{description}</span>
			</div>
		</div>
        <slot />
    </div>
</section>
<svelte:options immutable={true} />