<script lang="ts">
	export let value: string
	export let id = ''
</script>
<select bind:value={value} id="{id}" class="bg-[right_.75rem_center] bg-no-repeat bg-[length:.75em_.75em] pr-10 tracking-wide block py-2.5 px-2 w-full text-lg text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 [border-image-slice:1] focus:[border-image-source:linear-gradient(to_right,var(--tw-gradient-stops))] from-red-500 to-highlight dark:*:bg-dark *:bg-light bg-[url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIGFyaWEtaGlkZGVuPSJ0cnVlIiB2aWV3Qm94PSIwIDAgMTAgNiI+PHBhdGggc3Ryb2tlPSIjNkI3MjgwIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0ibTEgMSA0IDQgNC00Ii8+PC9zdmc+)] peer">
	<slot />
</select>